body {
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Monofett', cursive;
    text-align: center;
    font-size: 70px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: floralwhite;
}

h3 {
    font-family: 'Sansita One', cursive;
    text-align: center;
    font-size: 36px;

}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: floralwhite;
}

p, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:floralwhite;
    letter-spacing: 2px;
    padding-top: 15px;
}

b {
  color: white;
}

a:hover, a:active {
  font-size: 150%;
  text-decoration: none;

}


.social1 {
    padding: 50px 20px 50px 20px;
}

.portfolio-padding {
    padding: 20px 20px 20px 20px;
}


.round-border {
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;

}

.home {
    background-image: url(https://cdn.discordapp.com/attachments/1017188753065918524/1093284686844919868/devendetes_Japanese_students_walking_next_London_skyscraper_wit_503a37d2-2daf-4b02-8adf-22279742153c.png);
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    border-bottom-width: 5px;
    border-color: #f1844d;
    border-bottom-style: dashed;
}

.about {
    background-color: #f1844d;
    padding-top: 0px;
    padding-bottom: 30px;
    border-bottom-width: 5px;
    border-color: #1c94c3;
    border-bottom-style: dashed;


}

.portfolio {
    background-color:#1c94c3;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-width: 5px;
    border-color: #0eae6c;
    border-bottom-style: dashed;

}

.contacts {
    background-color: #0eae6c;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: dashed;
    border-bottom-width: 5px;
    border-color: black;

}

.contact {
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;


}


.top-nav {
    padding-top: 50px;
    padding-bottom: 10px;

}

.GM-img {
    padding: 10px;

}

.img-circle {
    border-radius: 50%;
}

.GM-paragraph {
    padding: 10px 30px 30px 10px;
    text-align: center;
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-circle, .btn-circle-3d{
  border-radius: 50px;
}

.btn-default.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
  -moz-box-shadow:    0px 0px 3px 1px #ccc;
  box-shadow:         0px 0px 3px 1px #ccc;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

