#projects-section {
    background-color: #002e5b;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-card {
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-title, .project-description {
    padding: 10px;
}

.mbr-figure img {
    border-radius: 50%; /* Rende l'immagine circolare */
    border: 24px solid rgb(155, 204, 0); 
    object-fit: cover; /* Assicura che l'immagine copra completamente la forma senza essere distorta */
    width: 300px; /* Imposta la larghezza desiderata */
    height: 300px; /* Imposta l'altezza uguale alla larghezza per mantenere la forma circolare */
}

.highlighted-name {
    color: rgb(155, 204, 0);
}


.card, .card-body {
    border-radius: 15px; /* Applica un bordo arrotondato a tutti e quattro gli angoli della card e del suo contenuto */
    text-align: center; /* Centra il testo all'interno del corpo della card */
}

/* Stile per l'immagine con cornice */
.image-frame {
    display: inline-block; /* Rende l'elemento adattabile per padding e margin */
    padding: 10px; /* Spazio tra l'immagine e il suo bordo, funge da "cornice" */
    background-color: white; /* Colore di sfondo della cornice, in questo caso bianco */
    border-radius: 18px; /* Raggio di curvatura per arrotondare gli angoli della cornice */
    margin: -10px 0; /* Ajuste per posizionare correttamente la cornice intorno all'immagine */
}


.card img.card-img-top {
    border-top-left-radius: 15px; /* Mantiene l'angolo in alto a sinistra dell'immagine arrotondato */
    border-top-right-radius: 15px; /* Mantiene l'angolo in alto a destra dell'immagine arrotondato */
    border-bottom-left-radius: 15px; /* Mantiene l'angolo in basso a sinistra dell'immagine arrotondato */
    border-bottom-right-radius: 15px; /* Mantiene l'angolo in basso a destra dell'immagine arrotondato */
}




#progress-bars3-2.progress-bars3.cid-quiZUT2MPU {
    background-color: rgb(155, 204, 0);
}


#header11-3 {
    position: relative;
    overflow: hidden; /* Assicurati che il canvas non fuoriesca dal div */
  }
  
  .canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Mette il canvas dietro al contenuto del div */
  }
  